* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow: hidden; */
}

body {
    font-size: small;
    height: 100%;
    width: 100%;
    overflow-x: hidden;

}

nav {
    height: 15%;
    width: 100%;
    background: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.6rem 2rem;

}

/* Nav log style start  */
.logo {
    color: white;
    font-weight: 400;
    font-size: large;
    text-align: center;
}

.logo img {
    height: 28px;
    width: 28px;
    object-fit: cover;
    border-radius: 50%;
}

/* Nav log style end  */

ul {
    list-style: none;
    display: none;
}

.list ul i {
    display: flex;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: aqua;
}

/* nav done */

/* hero section starts*/
.hero {
    height: 70%;
    width: 100%;
}

.hero img {
    object-fit: cover;
}

.hero p {
    color: black;
    text-align: center;
    align-content: center;
    font-size: larger;
}

/* hero section ends*/

/* footer starts here */
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.916);
    color: whitesmoke;
    text-align: center;
    height: 7%;
    width: 100%;

}

/* remix icons */
i {
    color: wheat;
    font-size: 24px;
    margin-top: 4px;
    padding: 4px;
    align-items: center;
}

i:hover {
    color: aqua;
}

/* remix icons */
.icons {
    color: whitesmoke;
    margin-top: 5px;
    align-self: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.icons a {
    height: 34px;
    width: 34px;
}


/* sidebar style start */
.sidebar {
    color: white;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 170px;
    z-index: 999;
    backdrop-filter: blur(10px);
    background-color: rgb(56, 55, 55);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
}

.sidebar ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar a {
    width: 100%;
}

.sidebar i {
    align-self: flex-end;
    margin: 16px 18px;
}

.sidebar li {
    font-size: medium;
    margin: 12px auto;
}


/* sidebar style end */


/* footer ends here */


/* Responsive */
@media screen and (min-width:780px) {
    body {
        font-size: medium;
    }

    nav {
        padding: 1.2rem 4rem;
    }

    .list ul {
        display: flex;
        justify-content: space-around;
    }

    .list ul i {
        display: none;
    }

    .list li {
        margin: 1rem 2rem;
    }

    .sidebar {
        display: none;
    }

    /* .list mobile li {
        
    } */
}