* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
    text-align: center;
}

body {
    overflow: hidden;
}

.upperContainer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

#cImg {
    display: none;
}

.container {
    color: #000;
    text-align: center;
    /* padding-top: 24px; */
    width: 65vh;
    height: 100vh;
    background: white;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);

}

h1 {
    margin: 18px;
}

/* Inputs */
input,
select {
    width: 80%;
    padding: 6px;
    margin: 6px 0;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 15px;
}

input:focus,
select:focus {
    border-color: #1e88e5;
    outline: none;
}


/* Button */
button {
    width: 70%;
    padding: 10px;
    margin-top: 14px;
    background: #1e88e5;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #0a2a66;
    transform: scale(1.03);
}

@media screen and (min-width:780px) {
    #cImg {
        display: flex;
        object-fit: cover;
        margin-top: 4px;
        height: 444px;
        width: 444px;
    }

    .container {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .container {
        height: 60vh;
    }
}